@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Here you can organize all your tasks in a simple and easy way.</p>
    <p>You can create and edit it the way you want, if you feel like it, you can even delete a task</p>

    <a class="btn btn-dark" asp-controller="Jobs" asp-action="Create">Start Here</a>
    
</div>
